@import "tailwindcss";
@font-face {
  font-family: "MyFont";
  src: url("../src/assets/fonts/Orbitron/Orbitron-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyFont", sans-serif;
}
h1 {
  font-family: "MyFont", sans-serif;
}
h2 {
  font-family: "MyFont", sans-serif;
}
h3 {
  font-family: "MyFont", sans-serif;
}
h4 {
  font-family: "MyFont", sans-serif;
}
p {
  font-family: "MyFont", sans-serif;
}
i {
  font-family: "MyFont", sans-serif;
}
div {
  font-family: "MyFont", sans-serif;
}
